html,body {
  height: 100%;
}

.h-100 {
  position: absolute;
  height: 100%;
  width: 100%;
  top:0;
  left:0;
  margin: 0;
  padding: 0;
}


.skew {
  transform: skew(-32DEG);
  display: inline-block;
}

.skewHover {
  display: inline-block;
}

a:hover > .skewHover {
  display: inline-block;
  color: black;
  text-decoration: none;
  transform: skew(-32DEG);
}

a:hover {
  max-width: 110%;
}

body {
  overflow: hidden;
  font-family: 'Union',
    sans-serif;
  font-size: 18pt;
  line-height: 1.33em;
  text-align: justify;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(215, 215, 215);
}

a, button {
  color: black;
  background: none;
  border: none;
  display: inline-block;
  padding: 0;
}

.headingPiece .link:hover {
  transform: skew(32DEG);
}

.link:hover {
  color: black;
  text-decoration: none;
  transform: skew(-32DEG);
}

button:focus {
  outline: none;
}

h1 {
  font-size: 32pt;
  line-height: 38pt;
  transform: skew(-32DEG);
  text-decoration: underline;
  padding: 0.75em 0 0 0;
  text-align: left;
  display: inline-block;
  text-indent: -32px;
  margin-right: -1.5em;
}

h2 {
  text-decoration: none;
  transform: skew(-32DEG);
  font-size: 18pt;
  line-height: 24pt;
}

hr {
  margin: 0 0 2em 0;
  border: 1px solid black;
}

#headingBox {
  background-color: rgb(240, 95, 40);
  text-align: right;
  margin-left: -25px;
  overflow: hidden;
}

#headingBox .row {
  align-content: flex-end;

}

.gray {
  background-color: rgb(215, 215, 215) !important;
}

.orange {
  background-color: rgb(240, 95, 40);
}

.menu {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 10;
  text-align: right;
}

nav {
  font-size: 32pt;
  line-height: 38pt;
  text-decoration: none;
  background-color: rgb(240, 95, 40);
  margin-right: -25px;
}

.navCondensed {
  display: inline-block;
}

.navCondensed ul {
  display: none;
}

#navButton {
  cursor: pointer;
  height: 1em;
  margin: 0.25em 0.25em;
}

ul {
  margin: 0;
  padding: 0;
}

#contributorsList ul, #reflectionsList ul {
  display: block;
}


ul, li {
  list-style: none;
}

nav ul {
  display: inline-block;
}

nav a, nav button {
  margin: 0;
  transform: skew(-32DEG);
}

nav a:hover, nav button:hover {
  color: black;
  transform: none;
}

nav li {
  display: inline;
  margin: 0.5em;
}

nav li.current {
  text-decoration: underline;
}

.clickable {
  cursor: pointer;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* INTRO */
.intoSvg {
  position: absolute;
  top: 0;
}

#svg {
  height: 94vh;
  margin-top: 6vh;
}

/* INDEX */
.index {
  height: calc(100vh - 6em);
  position: absolute;
  padding-top: 1em;
  left: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  text-align: left;
}

.curveHolder {
  float: right;
  width: 2em;
  text-align: right;
}

.curveLabel svg {
  height: 1.33em;
  width: auto;
  display: inline-block;
  margin-top: -.15em;
}

.firstCurve svg {
  margin-top: 0.6em;
}

.indexCurveHolder {
  float: left;
  width: 3em;
  text-align: left;
}

.indexEntry {
  margin-bottom: -0.6em;
}

.indexLabel {
  width: 80%;
  display: inline-block;
  float: right;
}

#contributorsList {
  margin-bottom: 0.5em;
}



/* ENTRIES */

.content {
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  overflow-y: scroll;
  overflow-x: hidden;
}

.contentLabel {
  display: block;
}

.headingPiece {
  transform: skew(-32DEG);
}

.figLabel {
  float: left;
  transform: skew(-32DEG);
  position: relative;
  top: 0;
  left: 0;
}

.contributorEntry {
  padding-bottom: 2em;
  margin: 2em 0;
  border-bottom: 2px solid black;
}

.contributorEntry:last-child {
  border: none;
  padding-bottom: 2em;
}

.link {
  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.contributorImg {
  width: 100%;
  margin: 2em 0;
}

.alt {
  margin-top: 2em;
}

.altLabel {
  transform: skew(-32DEG);
}

#reflectionsList {
  margin: 1.5em 0 1em 0.6em;
  text-indent: -1em;
}

#reflectionsUl {
  padding-bottom: 4.5em;
}

.authorHeading {
  transform: skew(-32DEG);
  text-transform: uppercase;
}

.firstNoPadLeft {
  margin-top: 1em;
  background: yellow;
  padding: 0;
}

.noPadLeft {
  background: yellow;
  padding: 0;
}

/* ABOUT */
.aboutCurves {
  width: 25%;
}

.firstCurve svg {
  margin-top: 0.6em !important;
}

.aboutCurve svg {
  height: 1.33em;
  width: 1.84em;
  display: block;
  margin-top: -0.02em;
}

.aboutText {
  height: 100vh;
  overflow-y: scroll;
  font-size: 24pt;
  line-height: 1.33em;
  padding: 1em 0 7em 0;
  margin-left: 0.25em;
}

.mobileText p{
  margin-bottom: 1em;
  padding: 0;
}

.mobileText p:last-child {
  margin: 0;
}

.mobileText .row {
  margin-bottom: 1em;
}

/* GRID */
#grid {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  pointer-events: none;
}

#grid .grid {
  /* outline: 1px solid yellow; */
  height: 100%;
}

#grid .inner {
  outline: 1px solid magenta;
  width: 100%;
  height: 100%;
  z-index: 10;
  display: block;
}

#grid .halfInner {
  outline: 1px solid cyan;
  width: 50%;
  height: 100%;
  z-index: 10;
  display: block;
}

.mobileOnly {
  display: none;
}

.desktopOnly {
  display: auto;
  margin-bottom: 0.5em;
}

/* FONTS */
@font-face {
  font-family: Union;
  src: url("/public/Union-Regular.otf") format("opentype");
}



/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
  h1 {
    font-size: 24pt;
    line-height: 28pt;
    text-indent: -18pt;
    padding-top: 8pt;
  }

  nav {
    font-size: 5.5vw;
  }
  nav li {
    margin: 1vw;
  }

  .mobileOnly {
    display: inline-block;
  }

  .desktopOnly {
    display: none;
  }

  #navButton {
    margin: 0.25em 0.75em;
  }

  .aboutText {
    padding-bottom: 5em;
  }

  #svg {
    height: 73vh;
    margin-top: 17vh;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}
